{{#sections}}
<section class="section" id="section-{{id}}">
    <span class="intro wrapper">
        {{{intro}}}
    </span>
    <figure>
        <img src="{{image}}" />
        <figcaption>{{caption}}</figcaption>
    </figure>
    <figure>
        <video src="{{video}}"></video>
    </figure>
    <blockquote class="altBg">
        <span class="wrapper">
            <p>{{quote}}</p>
            <cite>{{citation}}</cite>
        </span>
    </blockquote>
    <span class="wrapper">
        {{{links}}}
    </span>
</section>
{{/sections}}
